{% extends 'base.html' %}

{% block content %}
<h2>This is about page.</h2>
<form action="" method="post">
{% csrf_token %}
<p>
    <input type="text" name="title">
</p>
<p>
    <textarea name="description" id="" cols="30" rows="10"></textarea>
</p>
<p>
    <input type="submit">
</p>
</form>
{% endblock %}