{% extends 'base.html' %}

{% block content %}
<h1>Article List</h1>
{% for article in article_list %}
<p>{{article.title}}</p>
<p>{{article.content}}</p>
<p>{{article.date}}</p>
{% endfor %}

{% endblock %}