<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/">Home</a>
    <a href="/about/">About Us</a>
    <a href="/contact-us/">Contact Us</a>
    <a href="/article-list/">Article List</a>
    <a href="/expense-list/">Expense List</a>

    <h2>This is Welcome Page</h2>
    {% block content %}
    {% endblock %}
    
</body>
</html>