{% extends 'base.html' %}

{% block content %}

<h1>Expense List</h1>

{% for exp in expenses %}
<li>{{exp.title}}</li>
<p>Rs {{exp.amount}}</p>
{% endfor %}

<h1>Add New Expense</h1>
<form action="" method="post">
    {% csrf_token %}
    <input type="text" name="title" required>
    <input type="number" name="amount" required>
    <button>Submit Expense</button>
</form>


{% endblock %}