{% extends 'base.html' %}

{% block content %}
<h2>This is home page.</h2>

<h3>Name: {{name}}</h3>
<h3>Age:{{age}}</h3>
<h3>Address:{{address}}</h3>
<h3>About Job</h3>
<p>Company : {{about_job.company}}</p>
<p>Location : {{about_job.location}}</p>

<h3>Intrestes: </h3>
{% for intrest in intrests %}
    <p>{{intrest}}</p>
{% endfor %}
{% endblock %}